.ant-tabs{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}
.ant-tabs-tab{
    border: 1px solid rgba(0,0,0,0.3);
}
.ant-tabs-content-holder{
    width: 90%;
    height:600px;
    overflow: scroll;
}