/* Antd News */
.news .ant-tabs-tab .ant-tabs-tab-btn {
  font-size: 18px;
  font-weight: 500;
  width: 160px;
  height: 48px;
  color: black;
  text-align: center;
}
.news .ant-tabs-nav-wrap {
  overflow: hidden;
}
.news .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 22px;
  color: #fb4226;
  border-bottom: #fb4226;
  text-decoration-color: #fb4226;
}
.news .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background-color: #fb4226;
}
.news .ant-tabs-nav::before {
  height: 0;
  width: 0;
}
.news .ant-tabs-tab .ant-tabs-tab-btn:hover {
  font-size: 22px;
}
/* App */
.app__connect {
  background-image: url(../../../public//assets//img/app/bg_ungdung.jpg);
  background-size: cover;
}
.app__connect .slide-container {
  padding: 0.65rem;
  width: 13.46rem;
}
.app__connect .slide-container img {
  border-radius: 20px;
}
.app__connect .nav.default-nav {
  display: none;
}
/* Footer */
.footer {
  background-color: #212121;
}
